@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
  }
}

@layer  utilities  {
  .flex-center {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:1px;
    }
    
  }
@layer utilities {
  .anim {
    animation: example 6s ease-in-out  infinite ;
  }
  @keyframes example {
    0%   {top:0px;}
    50%  {top:-20px;}
    100%  {top:0px;}
  }
}